env:
 - GHCVER=7.8.4

before_install:
 - travis_retry sudo add-apt-repository -y ppa:hvr/ghc
 - travis_retry sudo apt-get update
 - travis_retry sudo apt-get install cabal-install-1.22 ghc-$GHCVER-prof ghc-$GHCVER-dyn happy
 - export PATH=/opt/ghc/$GHCVER/bin:/opt/cabal/1.22/bin:$PATH
 - cd src

install:
 - cabal install --only-dep --enable-tests -j

script:
 - cabal configure --enable-tests --enable-library-coverage
 - cabal build
 - cabal test

notifications:
  email: false
