env:
 global:
   - PGUSER=travis
   - PGPASS=testpass
   - PGDATABASE=travis
 matrix:
   - GHCVER=7.8.4

before_install:
 - travis_retry sudo add-apt-repository -y ppa:hvr/ghc
 - travis_retry sudo apt-get update
 - travis_retry sudo apt-get install cabal-install-1.22 ghc-$GHCVER-prof ghc-$GHCVER-dyn 
 - export PATH=/opt/ghc/$GHCVER/bin:/opt/cabal/1.22/bin:$PATH
 - cd src

install:
 - cabal update
 - cabal install happy==1.19.5 -j
 - cabal install alex==3.1.4 -j
 - cabal install --only-dep --enable-tests -j

before_script:
  - psql -c "CREATE USER travis WITH SUPERUSER PASSWORD 'testpass';" -U postgres
  - psql -c "create database travis owner travis;" -U postgres

script:
 - cabal configure --enable-tests --enable-library-coverage
 - cabal build
 - cabal test

notifications:
  email: false
