<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>

    <title>{{page.title}}</title>
    <meta name="description" content="" />
    <meta name="author" content="" />

    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <body>
    {{{page.body}}}

    <ul>
      {{#pages}}
        <li><a href="{{url}}">{{name}}</a></li>
      {{/pages}}
    </ul>
  </body>
</html>
